In [1]:
import numpy as np
import pandas as pd

In [3]:
ruta= ('C:/Users/Emilio/Desktop/Ingenieria de las Caracteristicas/Tareas/Tarea 3/')

En un archivo con extensión ipynb, identifique cada una de estas variables (categórica o numérica, su distribución, o si presenta datos atípicos) y sustituya los valores faltantes con algún método que crea conveniente. Importante: justifique el método usado.

In [4]:
dt=pd.read_csv(ruta+'tratamiento_de_valores_faltantes.csv')
data= dt

In [5]:
data.head()

          x1             x2        x3        x4
0   1.307150  Comida rápida  5.249548  2.790293
1  18.422083       Mexicano  5.278007  3.330853
2   7.729605       Italiano  7.403145  2.895753
3  10.599776  Comida rápida  7.209577  3.393178
4   5.612505          Chino  5.896599  2.901199

In [6]:
MC=data.isna()
MC

        x1     x2     x3     x4
0    False  False  False  False
1    False  False  False  False
2    False  False  False  False
3    False  False  False  False
4    False  False  False  False
..     ...    ...    ...    ...
495  False  False  False  False
496  False  False  False  False
497  False  False  False  False
498  False  False  False  False
499  False  False  False  False

[500 rows x 4 columns]

In [7]:
data.isnull().mean() * 100

x1    3.6
x2    4.0
x3    2.8
x4    3.4
dtype: float64

In [8]:
sub= data.copy()

## Si los valores son categoricos se sustituyen por moda

x2 es categorico

In [9]:
modex2= data['x2'].mode().iat[0]
modex2

'Mexicano'

In [10]:
for column in ['x2']:
    sub['x2'].fillna(sub['x2'].mode()[0], inplace=True)

Para encontrar las demas primero se hara un analisis de curtosis para determinar las que sean uniformes.

In [11]:
kurt = sub.kurt(axis=0)
kurt

x1    3.157644
x3   -1.260308
x4   -0.290781
dtype: float64

la menor a -1.2 es x3 la cual sera substituida de manera aleatoria

seguido se hace un analisis de sesgo para determinar que metodo se utilizara para las otras 2

In [12]:
skew= sub.skew(axis=0)
skew

x1    0.246582
x3    0.095405
x4    0.105376
dtype: float64

x1  y x4 tienen cesgos positivos por lo que se utilizaran media aritmetica

In [13]:
sub['x1'].fillna(sub['x1'].mean(), inplace=True)

In [14]:
sub['x4'].fillna(sub['x4'].mean(), inplace=True)

In [31]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(strategy='mean')

In [16]:
data2= sub.copy()
drop= sub.copy()

In [32]:
imp.strategy='constant'
dim=data2.dropna().shape[0]
i=np.random.randint(dim)
val=data2.dropna().iloc[i] 
data3=data2.copy()
for c in drop.columns:
    imp.fill_value=val[c]
    data3[c]=imp.fit_transform(drop[[c]])
data3

            x1             x2        x3        x4
0     1.307150  Comida rápida  5.249548  2.790293
1    18.422083       Mexicano  5.278007  3.330853
2     7.729605       Italiano  7.403145  2.895753
3    10.599776  Comida rápida  7.209577  3.393178
4     5.612505          Chino  5.896599  2.901199
..         ...            ...       ...       ...
495   7.851055      Tailandés  4.159333  3.100521
496  12.174165  Comida rápida  6.004050  2.917600
497  10.984803       Italiano  6.017403  2.979846
498   7.420852          Chino  7.327392  2.819767
499   6.738492          Chino  5.898113  3.056515

[500 rows x 4 columns]

In [38]:
data3

            x1             x2        x3        x4
0     1.307150  Comida rápida  5.249548  2.790293
1    18.422083       Mexicano  5.278007  3.330853
2     7.729605       Italiano  7.403145  2.895753
3    10.599776  Comida rápida  7.209577  3.393178
4     5.612505          Chino  5.896599  2.901199
..         ...            ...       ...       ...
495   7.851055      Tailandés  4.159333  3.100521
496  12.174165  Comida rápida  6.004050  2.917600
497  10.984803       Italiano  6.017403  2.979846
498   7.420852          Chino  7.327392  2.819767
499   6.738492          Chino  5.898113  3.056515

[500 rows x 4 columns]

In [39]:
data3.isnull().mean() * 100

x1    0.0
x2    0.0
x3    0.0
x4    0.0
dtype: float64

Al final los datos quedan sin valores Nan