In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [12]:
data= {'Acero':['Corten','Corrugado','Galvanizado','Inoxidable','Al Carbón'],
       'Precio':[796.010,695.280,325.000,2185,6229.419]
      }

df= pd.DataFrame(data)
df

         Acero    Precio
0       Corten   796.010
1    Corrugado   695.280
2  Galvanizado   325.000
3   Inoxidable  2185.000
4    Al Carbón  6229.419

### Decodifique la variable categórica con la codificación ficticia.

In [14]:
F=pd.get_dummies(df,prefix='',prefix_sep='',drop_first=True)
F

     Precio  Corrugado  Corten  Galvanizado  Inoxidable
0   796.010          0       1            0           0
1   695.280          1       0            0           0
2   325.000          0       0            1           0
3  2185.000          0       0            0           1
4  6229.419          0       0            0           0